.bg-light{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

header img[alt="slider"]{
    object-fit: cover;
    object-position: top;
    width: 100vw;
    height: 65vh;
}

header{
    max-height: 50vh;
    overflow: visible;
}

.home-title{
    margin: auto;
}

.navbar-nav a:nth-child(3){
    color: #193D46;
    font-weight: 700;
}

nav a:nth-child(1){
    color: #00A2A0;
    font-weight: 500;
}

.home-title p{
    color: #000;
    font-size: 75%;
    margin: 45px 15px;
}

.home-title p:before{
    display: inline-block;
    float: left;
    position: relative;
    left: -12px;
    background-color: #F9C890;
    width: 3px;
    height: 74px;
    content: '';
    margin-right: 10px;
}

.home-title h1{
    font-size: 195%;
}

#process{
    background-image: none; 
}

#tours{
    margin: 15% 5% 0% 5%;
}

.process:nth-child(2){
    margin-top: 0px;
}
*
#tours img{
    width: 100%;
}

.tour-details img{
    max-width: 45%;
    position: relative;
    margin: auto;
}

.tour-details{
    color: #193D46;
}

.tour-details h4{
    margin: 25px auto;
    color: #193D46;
    font-weight: 700;
    font-size: 170%
}

.btn-full{
    margin: 20px; 
    font-weight: 400;
    width: auto;
    padding: 10px;
}

#article h2{
    color: #00A2A0;
    text-align: left;
    margin: 35px 25% 35px 35px;
}

#article p{
    color: #FFF;
    text-align: left;
    margin: 10px 25% 15px 35px;
}

#article a{
    margin-bottom: 15%;
}

#article img{
    max-height: 65vh;
}

.side{
    background-color: #193D46;
}



